h1 {
    background: linear-gradient(to right, #3b6dc3, #230555);
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-size: 23px;
    font-weight: bold;

}

button {
    width: 100%;
}

textarea {
    width: 100%;
}

.search {
    border-bottom: solid;
    border-width: thin;
    text-align: center;
}

.history {
    text-align: center;
}

.historyText {
    background-color: rgb(209, 204, 204);
    border-radius: 10px;
}

.weather {
    border-style: solid;
    border-width: thin;
}

.card {
    background-color: #144b61;
    color: white;
    border-radius: 10px;
}